@import 'bootstrap';

body {
    background: #f3f4f6;
}

.btn {
    border-radius: 0px;
}
.card {
    border-radius: 0px;
}
.form-control {
    border-radius: 0px;
}

.js-on-hover-gif {
    cursor: pointer;
}
